{% extends 'base.html' %}

{% block titulo %}Fluxo de Caixa{% endblock titulo %}

{% block conteudo %}
<div align="center">
  <form role="form" method="POST" action="/caixas/fluxo/busca/">{% csrf_token %}
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <input type="text" class="form-control" name="dataInicial" value="{{ dataInicial|date:'d/m/Y' }}" placeholder="Data inicial ...">
        </div>

        <div class="col-md-6">
          <input type="text" class="form-control" name="dataFinal" value="{{ dataFinal|date:'d/m/Y' }}" placeholder="Data final...">
        </div>         
        
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Pesquisar
    <span class="glyphicon glyphicon-search"></span></button>
  </form>  

</div>
<hr>
<div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Pessoa</th>
            <th>R$</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
        {% for conta in contas %}
          <tr>
            <td><a href="/caixas/editar/{{ conta.pk }}">{{ conta.pessoa.nome }}</a></td>
            <td>{{ conta.valor }}</td>
            <td>{{ conta.descricao }}</td>
            <td>{{ conta.data|date:"d/m/Y" }}</td>
            <td>{{ conta.tipo }}</td>
          </tr>
        {% endfor %}
          <tr>
            <td><b>TOTAL:</b></td>
            <td><b>{{total}}</b></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

  <a href="/caixas/adicionar/" class="btn btn-warning">Imprimir</a>    
</div><!-- FIM TABELA -->

{% endblock conteudo %}